# Mac stuff:
.DS_Store

# user vscode configs
.vscode

# trunk output folder
dist

# Rust compile target directories:
target
target_ra
target_wasm

# https://github.com/lycheeverse/lychee
.lycheecache

# clangd cache
.cache

# can regenerate this with bear, but it's unique to your system so not in git
#   cargo clean
#   bear --append -- cargo build
compile_commands.json
