[workspace]
resolver = "2"
members = ["crates/*"]

[workspace.package]
version = "0.1.0"
edition = "2021"
authors = ["Ryan \"rj45\" Sanche", "Mathis Rech"]
license = "Apache-2.0"
rust-version = "1.79"

[workspace.lints.rust]
unsafe_code = "deny"

[workspace.lints.clippy]
all = "warn"

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 2

[profile.release]
opt-level = 2

[workspace.dependencies]
log = "0.4"
env_logger = "0.10"
serde = { version = "1.0", features = ["derive"] }
wgpu = "0.20.1"
egui = "0.28.1"
egui-wgpu = "0.28.1"
eframe = { version = "0.28.1", default-features = false, features = [
    "x11",
    "wayland",
    "accesskit",
    "default_fonts",
    "wgpu",
    "persistence",
] }
vello = "0.2.1"
wasm-bindgen-futures = "0.4"
web-sys = "0.3"
bevy_ecs = "0.14"
